exemplo_node_red_mqtt_mysql_dht_sensor.json
[{"id":"e197cd12.9a4458","type":"tab","label":"FreeRTOS","disabled":false,"info":""},{"id":"73d0a2c4.fd9ed4","type":"mqtt in","z":"e197cd12.9a4458","name":"","topic":"esp32/ADC","qos":"1","datatype":"auto","broker":"d5a577f7.a18c18","nl":false,"rap":false,"x":120,"y":160,"wires":[["615010b3.a8a608"]]},{"id":"6a4d25b7.d19d3c","type":"ui_chart","z":"e197cd12.9a4458","name":"ADC","group":"33054138.0561a6","order":1,"width":0,"height":0,"label":"ADC","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":770,"y":120,"wires":[[]]},{"id":"1b935728.bdf0a9","type":"ui_gauge","z":"e197cd12.9a4458","name":"","group":"71b0bf5d.a9952","order":1,"width":0,"height":0,"gtype":"gage","title":"ADC","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":780,"y":160,"wires":[]},{"id":"615010b3.a8a608","type":"json","z":"e197cd12.9a4458","name":"converter","property":"payload","action":"","pretty":false,"x":280,"y":160,"wires":[["4d500695.21d3c"]]},{"id":"4d500695.21d3c","type":"function","z":"e197cd12.9a4458","name":"separa_campos","func":"var analogico = {  payload : msg.payload.analogico } \n\n\nreturn [ analogico ];","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":160,"wires":[["9f060349.4a766","6a4d25b7.d19d3c","1b935728.bdf0a9"]]},{"id":"9f060349.4a766","type":"debug","z":"e197cd12.9a4458","name":"analogico","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":660,"y":80,"wires":[]},{"id":"11907e03.1b1cf2","type":"mqtt out","z":"e197cd12.9a4458","name":"","topic":"esp32/output","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"d5a577f7.a18c18","x":950,"y":560,"wires":[]},{"id":"ab930a16.7a2fe","type":"mqtt out","z":"e197cd12.9a4458","name":"","topic":"esp32/lampada","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"d5a577f7.a18c18","x":480,"y":580,"wires":[]},{"id":"b10da729.289bc","type":"ui_button","z":"e197cd12.9a4458","name":"","group":"2f8785b3.58da42","order":6,"width":0,"height":0,"passthru":false,"label":"Ligar Saida 2","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"str","topic":"","topicType":"str","x":720,"y":560,"wires":[["11907e03.1b1cf2"]]},{"id":"c8023747.5aa88","type":"ui_button","z":"e197cd12.9a4458","name":"","group":"2f8785b3.58da42","order":7,"width":0,"height":0,"passthru":false,"label":"desligar Saida 2","tooltip":"","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"str","topic":"","topicType":"str","x":730,"y":600,"wires":[["11907e03.1b1cf2"]]},{"id":"d1d7ef2a.649478","type":"ui_button","z":"e197cd12.9a4458","name":"","group":"2f8785b3.58da42","order":2,"width":3,"height":1,"passthru":false,"label":"Ligar Saida 1","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"str","topic":"","topicType":"str","x":280,"y":580,"wires":[["ab930a16.7a2fe"]]},{"id":"d987444f.89a148","type":"ui_button","z":"e197cd12.9a4458","name":"","group":"2f8785b3.58da42","order":3,"width":3,"height":1,"passthru":false,"label":"desligar Saida 1","tooltip":"","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"str","topic":"","topicType":"str","x":290,"y":620,"wires":[["ab930a16.7a2fe"]]},{"id":"7a502d0d.4eda6c","type":"ui_chart","z":"e197cd12.9a4458","name":"temperatura","group":"33054138.0561a6","order":2,"width":0,"height":0,"label":"temperatura","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":890,"y":360,"wires":[[]]},{"id":"c2be84b4.fc2e8","type":"ui_gauge","z":"e197cd12.9a4458","name":"","group":"71b0bf5d.a9952","order":2,"width":0,"height":0,"gtype":"gage","title":"temperatura","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":910,"y":300,"wires":[]},{"id":"cc47fe55.ac4b","type":"json","z":"e197cd12.9a4458","name":"converter","property":"payload","action":"","pretty":false,"x":300,"y":360,"wires":[["509b1acf.d974fc"]]},{"id":"509b1acf.d974fc","type":"function","z":"e197cd12.9a4458","name":"separa_campos","func":"var temperatura = {  payload : msg.payload.temperatura } \nvar humidade = {  payload : msg.payload.humidade } \n\n\nreturn [ temperatura, humidade ];","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":360,"wires":[["2aeef9af.bf4ef6","bd984cb0.2ea11"],["8b56a53b.fb355","bff4cd5c.b8807"]]},{"id":"5ac5a570.4849d4","type":"mqtt in","z":"e197cd12.9a4458","name":"","topic":"esp32/sensor","qos":"1","datatype":"auto","broker":"d5a577f7.a18c18","nl":false,"rap":false,"x":130,"y":360,"wires":[["cc47fe55.ac4b"]]},{"id":"2aeef9af.bf4ef6","type":"change","z":"e197cd12.9a4458","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"temperatura °C","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":340,"wires":[["7a502d0d.4eda6c","c2be84b4.fc2e8"]]},{"id":"8b56a53b.fb355","type":"change","z":"e197cd12.9a4458","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"humidade %","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":380,"wires":[["7a502d0d.4eda6c"]]},{"id":"bd984cb0.2ea11","type":"function","z":"e197cd12.9a4458","name":"global_temperatura","func":"global.set(\"temperatura\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":280,"wires":[[]]},{"id":"bff4cd5c.b8807","type":"function","z":"e197cd12.9a4458","name":"global_humidade","func":"global.set(\"humidade\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":690,"y":440,"wires":[[]]},{"id":"d98f1f82.993b98","type":"mqtt in","z":"e197cd12.9a4458","name":"","topic":"esp32/out","qos":"2","datatype":"auto","broker":"d5a577f7.a18c18","nl":false,"rap":false,"x":100,"y":760,"wires":[["51fd5884.598c3"]]},{"id":"3f9f962d.13a1f2","type":"switch","z":"e197cd12.9a4458","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":610,"y":700,"wires":[["92795d92.92f648"],["86860414.aea928"]]},{"id":"92795d92.92f648","type":"change","z":"e197cd12.9a4458","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"1","fromt":"num","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":680,"wires":[["5a6f15a8.71e33c"]]},{"id":"86860414.aea928","type":"change","z":"e197cd12.9a4458","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"0","fromt":"num","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":740,"wires":[["5a6f15a8.71e33c"]]},{"id":"5a6f15a8.71e33c","type":"ui_led","z":"e197cd12.9a4458","order":1,"group":"2f8785b3.58da42","width":0,"height":0,"label":"Saida 1","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#8b8874","value":"false","valueType":"bool"},{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"Saida 1","x":1100,"y":740,"wires":[]},{"id":"51fd5884.598c3","type":"json","z":"e197cd12.9a4458","name":"converter","property":"payload","action":"","pretty":false,"x":260,"y":760,"wires":[["70363ee3.6295a"]]},{"id":"70363ee3.6295a","type":"function","z":"e197cd12.9a4458","name":"separa_campos","func":"var out1 = {  payload : msg.payload.OUT1 } \nvar out2 = {  payload : msg.payload.OUT2 } \nreturn [ out1, out2 ];","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":760,"wires":[["3f9f962d.13a1f2"],["ad5d0c31.b1a4d8"]]},{"id":"ad5d0c31.b1a4d8","type":"switch","z":"e197cd12.9a4458","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":610,"y":820,"wires":[["15c695c8.c19792"],["80ca1b18.34aa68"]]},{"id":"15c695c8.c19792","type":"change","z":"e197cd12.9a4458","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"1","fromt":"num","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":800,"wires":[["86e85942.1a0d2"]]},{"id":"80ca1b18.34aa68","type":"change","z":"e197cd12.9a4458","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"0","fromt":"num","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":860,"wires":[["86e85942.1a0d2"]]},{"id":"86e85942.1a0d2","type":"ui_led","z":"e197cd12.9a4458","order":5,"group":"2f8785b3.58da42","width":0,"height":0,"label":"Saida 2","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#8b8874","value":"false","valueType":"bool"},{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"Saida 2","x":1100,"y":800,"wires":[]},{"id":"119c3a29.c58616","type":"comment","z":"e197cd12.9a4458","name":"Leitura de tópicos e exibição em dashboard","info":"","x":210,"y":80,"wires":[]},{"id":"da16e177.e60e3","type":"debug","z":"e197cd12.9a4458","name":"resultado","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":660,"y":1020,"wires":[]},{"id":"fea9fd8.b8d9c","type":"inject","z":"e197cd12.9a4458","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"600","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":1040,"wires":[["fb93fc1f.5b30b8"]]},{"id":"fb93fc1f.5b30b8","type":"function","z":"e197cd12.9a4458","name":"INSERT","func":" \nvar temperatura = global.get(\"temperatura\");\nvar humidade = global.get(\"humidade\");\n\nmsg.topic = \"INSERT INTO tempLog (temperature,humidity) VALUES (\"+temperatura+\",\"+humidade+\" );\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":1040,"wires":[["da570663.19b0e"]]},{"id":"da570663.19b0e","type":"mysql","z":"e197cd12.9a4458","mydb":"9beb301a.3454e8","name":"conexao_mysql","x":480,"y":1040,"wires":[["da16e177.e60e3"]]},{"id":"f017e669.342f2","type":"inject","z":"e197cd12.9a4458","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"60","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":1140,"wires":[["c881bda5.c90908"]]},{"id":"c881bda5.c90908","type":"function","z":"e197cd12.9a4458","name":"SELECT","func":"msg.topic = \"SELECT temperature as temperatura, humidity as humidade, timeStamp as timeStamp FROM tempLog where timeStamp >= now() - 84600;\"\nreturn msg;\n\n//msg.topic = \"SELECT * FROM tempLog where timeStamp >= now() - 84600;\"\n\n//msg.topic = \"SELECT temperature as temperatura, humidity as humidade, timeStamp FROM tempLog where timeStamp >= now() - 84600;\"\n\n//msg.topic = \"INSERT INTO tempLog (temperature,humidity) VALUES (\"+temperatura+\",\"+humidade+\" );\"\n\n//SELECT MAX(\"producaocatanduva\") as producao, time FROM \"Solar_IFSP\"  WHERE time >= now() - 30d GROUP BY time(1d)","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":1140,"wires":[["870fd325.c83ad"]]},{"id":"870fd325.c83ad","type":"mysql","z":"e197cd12.9a4458","mydb":"9beb301a.3454e8","name":"conexao_mysql","x":480,"y":1140,"wires":[["981d3fb8.c22288","c7791665.1c77d"]]},{"id":"8d31e8c5.310db8","type":"comment","z":"e197cd12.9a4458","name":"Mysql: Select últimos 10 dados para grafico e tabela","info":"","x":250,"y":1100,"wires":[]},{"id":"981d3fb8.c22288","type":"change","z":"e197cd12.9a4458","name":"Format data","rules":[{"t":"set","p":"payload","pt":"msg","to":"(\t  $series := [\t    { \"label\": \"temperatura (°C)\" , \"field\": \"temperatura\"  },\t    {  \"label\": \"humidade (%)\", \"field\": \"humidade\" }\t\t  ];\t  $xaxis := \"timeStamp\";\t  [\t    {\t      \"series\": $series.label,\t      \"data\": $series.[\t        (\t          $yaxis := $.field;\t          $$.payload.{\t            \"x\": $lookup($, $xaxis),\t            \"y\": $lookup($, $yaxis)\t          }\t        )\t      ]\t    }\t  ]\t)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":1140,"wires":[["6d8910f4.ac1c9"]]},{"id":"6d8910f4.ac1c9","type":"ui_chart","z":"e197cd12.9a4458","name":"24 hours data","group":"53bb7f4e.37d0d","order":1,"width":17,"height":7,"label":"Gráfico temperatura humidade","chartType":"line","legend":"true","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#00e68c","#2d2da8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":880,"y":1140,"wires":[[]]},{"id":"b185267e.dbee28","type":"comment","z":"e197cd12.9a4458","name":"Grava numero aleatorio em mysql","info":"","x":190,"y":1000,"wires":[]},{"id":"c7791665.1c77d","type":"debug","z":"e197cd12.9a4458","name":"dados mysql","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":690,"y":1100,"wires":[]},{"id":"577e9724.f5f108","type":"mysql","z":"e197cd12.9a4458","mydb":"9beb301a.3454e8","name":"conexao_mysql","x":500,"y":1360,"wires":[["3aabe4b0.5097b4"]]},{"id":"ddc32909.fab0f8","type":"function","z":"e197cd12.9a4458","name":"DELET","func":"\nmsg.topic = \"Delete  FROM tempLog ;\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":1360,"wires":[["577e9724.f5f108"]]},{"id":"3aabe4b0.5097b4","type":"debug","z":"e197cd12.9a4458","name":"dados mysql","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":730,"y":1360,"wires":[]},{"id":"d9c5c804.196a68","type":"inject","z":"e197cd12.9a4458","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":1360,"wires":[["ddc32909.fab0f8"]]},{"id":"fa11da3b.7aa5a8","type":"inject","z":"e197cd12.9a4458","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"60","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":1240,"wires":[["2e201874.68d6c"]]},{"id":"2e201874.68d6c","type":"function","z":"e197cd12.9a4458","name":"SELECT","func":"\nmsg.topic = \"SELECT * FROM tempLog order by timeStamp DESC limit 10;\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":1240,"wires":[["53c60a6b.100264"]]},{"id":"53c60a6b.100264","type":"mysql","z":"e197cd12.9a4458","mydb":"9beb301a.3454e8","name":"conexao_mysql","x":480,"y":1240,"wires":[["f4934b3f.78bc2"]]},{"id":"f4934b3f.78bc2","type":"ui_template","z":"e197cd12.9a4458","group":"f35a9f87.c270e8","name":"Tabela com style","order":1,"width":11,"height":7,"format":"<div layout=\"row\" layout-align=\"start center\">\n  <span flex>Hora</span>\n  <span flex>temperatura</span>\n  <span flex>humidade</span>\n</div>\n<div layout=\"row\" layout-align=\"start center\" ng-repeat=\"row in msg.payload\">\n  <span flex style=\"color: green\">{{row.timeStamp}}</span>\n  <span flex style=\"color: red\">{{row.temperature}} °C</span>\n  <span flex style=\"color: black\">{{row.humidity}}%</span>\n\n</div>\n ","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":710,"y":1240,"wires":[[]]},{"id":"557e5462.c4a784","type":"comment","z":"e197cd12.9a4458","name":"Mysql: Select últimos 10 dados para grafico e tabela","info":"","x":250,"y":1200,"wires":[]},{"id":"d5a577f7.a18c18","type":"mqtt-broker","name":"","broker":"avrchaves.duckdns.org","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"33054138.0561a6","type":"ui_group","name":"Gráficos","tab":"f484a0a.6c67a6","order":2,"disp":true,"width":"6","collapse":false},{"id":"71b0bf5d.a9952","type":"ui_group","name":"Sensor","tab":"f484a0a.6c67a6","order":1,"disp":true,"width":"6","collapse":false},{"id":"2f8785b3.58da42","type":"ui_group","name":"LEDs","tab":"f484a0a.6c67a6","order":3,"disp":true,"width":3,"collapse":false},{"id":"9beb301a.3454e8","type":"MySQLdatabase","name":"","host":"enderecourldobancodedados","port":"3306","db":"basedados","tz":"","charset":"UTF8"},{"id":"53bb7f4e.37d0d","type":"ui_group","name":"grafico_mysql","tab":"f484a0a.6c67a6","order":4,"disp":true,"width":"18","collapse":false},{"id":"f35a9f87.c270e8","type":"ui_group","name":"Tabela mysql","tab":"f484a0a.6c67a6","order":5,"disp":true,"width":11,"collapse":false},{"id":"f484a0a.6c67a6","type":"ui_tab","name":"FreeRtos","icon":"dashboard","order":1,"disabled":false,"hidden":false}]